<!--titre page-->
<head>
   <title>sound escapas</title>
</head>
<!--text-->
<div class="container"> <!--onresize="resizeportraits()"-->
   <p>
      <b>« sound », mot anglais pour son, et « escapas », évasions en occitan. 
      Le tout rappelant le mot « soundscapes » : paysages sonores, terme inventé en 1977 par le compositeur canadien R. Muray Schaffer</b></br>
      Après avoir collecté des archives (sonores, photographiques, architecturales et vidéo) auprès des Archives de la ville de Béziers et du CIRODC, l’artiste <a href="https://neblum.art/bio">Rodin Kaufmann</a> a mené des ateliers de transformation auprès des élèves des écoles primaire d’Alignan du Vent, Bassan, Béziers (Mandela),  Cers, Montblanc et Villeneuve-lès-Béziers. Les oeuvres réalisées par les élèves, issues des différentes expérimentations et mise en pratique avec les participants, ont été récoltées par l’artiste. Ces œuvres, soit sonores soit visuelles, viennent s’ajouter à celles de l’artiste, pour cette restitution finale, sous forme d’exposition numérique. Le processus de fabrication dans les écoles a été documenté sur <a href="https://www.instagram.com/soundescapas">instagram</a>. 
   </p>
   <!--bandeau Alignan-->
   <div class="container-fluid text-center row">
      <img class="img-fluid" 
         src="../../../../../Images/alignan.jpg" />
   </div>
   <!--ligne Alignan-->
   <!--colonne 1-->
   <div class="row">
      <div class="col-sm">
         <!-- vidéo Alignan -->
         <article id="sizeModelAlignan">
            <div class="embed-responsive embed-responsive-4by3">
               <iframe src="https://www.youtube.com/embed/wLOuAuRYMg8"
                  class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
            </div>
         </article>
         <!-- FIN colonne 1 -->
      </div>
      <!-- colonne 2 -->
      <div class="col-sm">
         <!-- caroussel Alignan -->
         <article >
            <div id="carouselAlignan" class="carousel slide carousel-syncAlignan" data-ride="carousel" data-interval="false">
               <div class="carousel-inner">
                 <!--  <a data-toggle="modal" data-target="#ModalAlignan"> ce <a> ... </a>: appelle le modal (l'ensemble des img)-->
                  <div class="carousel-item active">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al1.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al2.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al3.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al4.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al5.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al6.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al7.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al8.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al9.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al10.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al11.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al12.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al13.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al14.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al15.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al16.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al17.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al18.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al19.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al20.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al21.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al22.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al23.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al24.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al25.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al26.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al27.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al28.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al29.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al30.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al31.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al32.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al33.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al34.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al35.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al36.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al37.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al38.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al39.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al40.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al41.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al42.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al43.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al44.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al45.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al46.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al47.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al48.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al49.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al50.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al51.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al52.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al53.jpg" alt="Alignan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/al/al54.jpg" alt="Alignan">
                  </div>
                  <!-- </a>  fin du a du modal-->

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#carouselAlignan" data-slide="prev"> <!--ng-click="resizeportraits()"-->
                  <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselAlignan" data-slide="next"> <!--ng-click="resizeportraits()"-->
                  <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
            </div>

         <!-- The Modal Alignan
         <div class="modal" id="ModalAlignan">
            <div class="modal-dialog">
               <div class="modal-body">

                  
                  <div id="carouselAlignanModal" class="carousel slide carousel-syncAlignan" data-ride="carousel" data-interval="false">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img class="d-block mw-100"  id="toResizeal_p1" src="../../../../Images/carousel/al/p/al_p1.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al1.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al2.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al3.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al4.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al5.jpg" alt="Alignan">
                        </div>
                        <div class="carousel-item">
                           <img class="d-block w-100" src="../../../../Images/carousel/al/al6.jpg" alt="Alignan">
                        </div>
                     
                        <a class="carousel-control-prev" href="#carouselAlignanModal" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselAlignanModal" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>-->


         </article>
         <!--FIN colonne 2-->  
      </div>
      <!--FIN ligne Alignan-->     
   </div>

   <!--légende
   <p class="text-right small"> 
      <i>Cliquez sur les flèches à gauche ou à droite pour naviguer, et sur l’image pour l’agrandir</i>
   </p> -->

   <!--bandeau Bassan-->
   <article>
      <div class="container-fluid text-center row">
         <img class="img-fluid" 
            src="../../../../../Images/bassan.jpg" />
      </div>
   </article>
   <!--ligne Bassan-->
   <!--colonne 1-->
   <div class="row">
      <div class="col-sm">
         <!--caroussel Bassan-->
         <article>
            <div id="carouselBassan" class="carousel slide carousel-syncBassan" data-ride="carousel" data-interval="false">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba1.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba2.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba3.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba4.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba5.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba6.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba7.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba8.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba9.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba10.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba11.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba12.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba13.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba14.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba15.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba16.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba17.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba18.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba19.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba20.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba21.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba22.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba23.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba24.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba25.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba26.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba27.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba28.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba29.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba30.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba31.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba32.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba33.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba34.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba35.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba36.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba37.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba38.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba39.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba40.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba41.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba42.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba43.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba44.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba45.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba46.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba47.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba48.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba49.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba50.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba51.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba52.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba53.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba54.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba55.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba56.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba57.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba58.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba59.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba60.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba61.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba62.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba63.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba64.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba65.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba66.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba67.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba68.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba69.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba70.jpg" alt="Bassan">
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="../../../../Images/carousel/ba/ba71.jpg" alt="Bassan">
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#carouselBassan" data-slide="prev"> <!--ng-click="resizeportraits()"-->
                  <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#carouselBassan" data-slide="next"> <!--ng-click="resizeportraits()"-->
                  <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
            </div>
         </article>
         <!--FIN colonne 1-->
      </div>
      <!--colonne 2-->
      <div class="col-sm">
         <!-- vidéo Bassan -->
         <article id="sizeModelBassan">
            <div class="embed-responsive embed-responsive-4by3">
               <iframe src="https://www.youtube.com/embed/WKqBDhNGgOo"
                  class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
            </div>
         </article>
         <!--FIN colonne 2-->  
      </div>
      <!--FIN ligne Bassan-->     
   </div>
   <!--légende
   <p class="text-left small legendeBassan"> 
      <i>Cliquez sur les flèches à gauche ou à droite pour naviguer, et sur l’image pour l’agrandir</i>
   </p>-->
</div>